.container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

.genresList {
  padding: 0;
}

.genreItem {
  list-style: none;
  display: inline-block;
  padding: 0 10px 10px 0;
}

.toggle {
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
}
